<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chat.css">
    <title>Charcha</title>
</head>

<body>
    <!-- Display all users -->
    <div class="left-container">
        <div class="top-bar">
            <img class="self-profile" src="https://avatar.iran.liara.run/public" alt="profilePicture">
            <div class="top-bar-options">
                <button id="showCreateGroupBtn" title="Create group"><i
                        class="fa-solid fa-people-group bar-icons"></i></button>
                <button title="Logout" id="logOut"><i
                        class="fa-solid fa-arrow-right-from-bracket bar-icons"></i></button>
            </div>
        </div>

        <div class="search-bar">
            <form>
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input class="search-input" type="text" placeholder="Search or start new chat">
            </form>
        </div>

        <div class="chats" id="chats">
            <!-- <div class="chat">
                <img src="https://avatar.iran.liara.run/public" alt="profilePicture" class="user-profile">
                <div class="name-lastMessage">
                    <h3>Abhishek Mishra</h3>
                    <p class="last-message">Hii.. how are you</p>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Welcome page for login user -->
    <div class="welcome-right-container" id="welcome-right-container">
        <div class="app-logo">
            <img src="../assets/AppLogo.png" alt="AppLogo">
            <h1 class="app-name">Charcha</h1>
        </div>
        <h2 id="welcome-msg"></h2>
        <p><i class="fa-solid fa-lock"></i> Your personal messages are end-to-end encrypted</p>
    </div>

    <!-- Chat area for user/group -->
    <div class="message-right-container" id="message-right-container">
        <div class="top-bar chat-top-bar">
            <div class="group-info">
                <img class="self-profile" src="https://avatar.iran.liara.run/public" alt="profilePicture">
                <h3 id="chat-username"></h3>
            </div>
            <div class="edit-group" id="edit-button">
                <button title="Edit group"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                <div id="edit-menu" class="hidden">
                    <ul>
                        <li><button id="groupInfoBtn">Group info</button></li>
                        <li class="ifAdmin" id="if-admin"><button id="groupEditBtn">Edit Group</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-section" id="chat-section">
                <!-- <ul id="messages"></ul> -->
            </div>
        </div>

        <div class="send-chat">
            <a href="#"><i class="fa-solid fa-plus"></i></i></a>
            <form id="chat-form" class="message-form">
                <input class="message" id="message" type="text" placeholder="Type a message">
                <button type="submit" class="send-btn"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>

    <!-- Form to create group -->
    <div class="createGroup-container">
        <h2>Create new group</h2>
        <form class="creategroup-form" id="creategroup-form">
            <input type="text" class="group-name" id="group-name" name="groupName" placeholder="Enter group name">
            <input type="text" class="group-name" id="group-description" name="groupDescription"
                placeholder="Enter group description(optional)">

            <label>Select users</label>
            <div class="users" id="users">
            </div>

            <input class="submitBtn" id="submitBtn" type="submit" value="Create group">
            <button type="button" class="cancelBtn" id="cancelBtn">Cancel</button>
        </form>
    </div>

    <!-- To displays all the users of the group -->
    <div class="groupInfo-container" id="group-info-container">
        <div class="top-bar group-info-topbar">
            <button class="closeGroupInfo" id="close-groupInfo"><i class="fa-solid fa-xmark"></i></button>
            <h3>Group info</h3>
        </div>

        <div class="groupInformation">
            <div class="groupImgName" id="groupImg-Name">
                <!-- <img src="https://avatar.iran.liara.run/public">
                <h2>Group Name</h2>
                <p>Group . 4 members</p> -->
            </div>

            <div class="groupMembers" id="group-members">
                <!-- <p>group members</p> -->
                <!-- <div class="member">
                    <img src="https://avatar.iran.liara.run/public" alt="profilePicture">
                    <h3>Abhishek Mishra</h3>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Display all users to edit the user -->
    <div class="groupEdit-container" id="group-edit-container">
        <div class="top-bar group-info-topbar">
            <button class="closeGroupInfo" id="close-groupEdit"><i class="fa-solid fa-xmark"></i></button>
            <h3>Edit group</h3>
        </div>

        <div class="groupInformation">
            <div class="groupImgName" id="groupImg-Name1">
                <!-- <img src="https://avatar.iran.liara.run/public">
                <h2>Group Name</h2>
                <p>Group . 4 members</p> -->
            </div>
            
            <div class="addUserContainer">
                <div class="addUser" id="add-user">
                    <button class="addUserIcon"><i class="fa-solid fa-user-plus"></i></button>
                    <h3>Add member</h3>
                </div>
            </div>

            <div class="groupMembers" id="group-members1">
                <!-- <p>group members</p> -->
                <!-- <div class="member">
                    <img src="https://avatar.iran.liara.run/public" alt="profilePicture">
                    <h3>Abhishek Mishra</h3>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Form to add new member to the group -->
    <div class="addNewUserToGroup-container">
        <h2>Select Users</h2>
        <form class="addnewusertogroup-form" id="addnewusertogroup-form">
            <div class="users" id="users1">
            </div>

            <input class="submitBtn" id="submitBtn" type="submit" value="Add users">
            <button type="button" class="cancelBtn" id="cancelBtn1">Cancel</button>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/3c20a37bb5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>
    <script src="../scripts/chat.js"></script>
    <script src="../scripts/createGroup.js"></script>
    <script src="../scripts/editGroup.js"></script>
</body>

</html>