<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chat.css">
    <title>Charcha - chat</title>
</head>

<body>
    <div class="container">
        <h1>Chat App</h1>
        <div class="chat-container" id="chat-container">
            <h4 id="user"></h4>
        </div>
        <form id="form">
            <input type="text" name="message" id="message">
            <input type="hidden" name="userName" id="userName">
            <button type="submit">send</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>
    <script src="../scripts/chat.js"></script>
</body>

</html>