<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../styles/landing.css">
    <title>Charcha</title>
</head>

<body>
    <div class="top-container">
        <nav class="navbar">
            <div class="nav-logo">
                <img class="app-logo" src="../assets/AppLogo.png" alt="appLogo">
                <h1>Charcha</h1>
            </div>
            <div class="nav-buttons">
                <a class="button1" href="#">SignIn</a>
                <a class="button2" href="#">SignUp</a>
            </div>
        </nav>
    </div>

    <div class="main-container">
        <div class="left-container">
            <h2>Let's Connect with your Loved Once in Real Time</h2>
            <ul>
                <li>Create group with 1000+ people</li>
                <li>End-to-end encryption</li>
                <li>Fun emoji avatars</li>
            </ul>
            <div>
                <a class="button2" id="start-chat" href="#">Start chat</a>
            </div>
            <div class="review">
                <div class="image-container">
                    <img class="image" src="../assets/img1.jpg" alt="userImg">
                    <img class="image" src="../assets/img2.jpg" alt="userImg">
                    <img class="image" src="../assets/img3.jpg" alt="userImg">
                    <img class="image" src="../assets/img4.jpg" alt="userImg">
                </div>
                <div class="customers">
                    <h3>1500+</h3>
                    <p>Happy Customers</p>
                </div>
                <div class="pipe"></div>
                <div class="rating">
                    <h3>4.0/5 Global Rating</h3>
                    <span class="stars">★★★★☆</span>
                </div>
            </div>
        </div>
        <div class="right-container">
            <img class="hero-img" src="../assets/heroImg.png" alt="heroImg">
        </div>
    </div>

    <div class="seperation">
        <div class="line"></div>
    </div>

    <div class="display-container">
        <div class="mobile">
            <img src="../assets/charchaPhone.jpg" alt="phone">
            <p style="color: #36C5F0;">Charcha for <span style="font-weight:bold;">Mobile</span></p>
        </div>
        <div class="laptop">
            <img style="width: 600px;" src="../assets/charhcaDesktop.png" alt="laptop">
            <p style="color: #36C5F0;">Charcha for <span style="font-weight:bold;">Laptop</span></p>
        </div>
    </div>

    <div class="seperation">
        <div class="line"></div>
    </div>

    <div class="why-charcha">
        <h2 class="heading">Why Charcha?</h2>
        <div class="grid">
            <div class="card">
                <img src="../assets/simple.png" alt="Image 1">
                <h3>Simple</h3>
                <p><span>Charcha</span> is so simple you already know how to use it.</p>
            </div>
            <div class="card">
                <img src="../assets/private.png" alt="Image 1">
                <h3>Private</h3>
                <p><span>Charcha</span> messages are heavily encrypted and can self-destruct.</p>
            </div>
            <div class="card">
                <img src="../assets/synced.png" alt="Image 1">
                <h3>Synced</h3>
                <p><span>Charcha</span> lets you access your chats from multiple devices.</p>
            </div>
            <div class="card">
                <img src="../assets/fast.png" alt="Image 1">
                <h3>Fast</h3>
                <p><span>Charcha</span> delivers messages faster than any other application.</p>
            </div>
            <div class="card">
                <img src="../assets/powerful.png" alt="Image 1">
                <h3>Powerful</h3>
                <p><span>Charcha</span> has no limits on the size of your media and chats.</p>
            </div>
            <div class="card">
                <img src="../assets/open.png" alt="Image 1">
                <h3>Open</h3>
                <p><span>Charcha</span> has an open API and source code free for everyone.</p>
            </div>
            <div class="card">
                <img src="../assets/secure.png" alt="Image 1">
                <h3>Secure</h3>
                <p><span>Charcha</span> keeps your messages safe from hacker attacks.</p>
            </div>
            <div class="card">
                <img src="../assets/social.png" alt="Image 1">
                <h3>Social</h3>
                <p><span>Charcha</span> groups can hold up to 1000 members.</p>
            </div>
            <div class="card">
                <img src="../assets/expressive.png" alt="Image 1">
                <h3>Expressive</h3>
                <p><span>Charcha</span> lets you completely customize your messenger.</p>
            </div>
        </div>
    </div>

    <div class="seperation">
        <div class="line"></div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h3>About</h3>
                <ul>
                    <li>About</li>
                    <li>FAQ</li>
                    <li>Privacy</li>
                    <li>Press</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Downloads</h3>
                <ul>
                    <li>iPhone/iPad</li>
                    <li>Android</li>
                    <li>Desktop</li>
                    <li>Mobile Web</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Platform</h3>
                <ul>
                    <li>API</li>
                    <li>Translations</li>
                    <li>Instant View</li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>