<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../styles/signUp.css">
    <title>Charcha - SignUp</title>
</head>

<body>

    <body>
        <div class="mainContainer">
            <div class="leftContainer">
                <div class="logo">
                    <img src="../assets/AppLogo.png" alt="appLogo">
                    <h1>Charcha</h1>
                </div>
                <p>SignUp to Connect with your Friends and Family</p>
                <img class="enjoy" src="../assets/enjoy.png" alt="">
            </div>

            <div class="rightContainer">
                <div class="headingMessage">
                    <p>Create your account</p>
                </div>
                <div class="signUpForm">
                    <div class="alert"></div>
                    <form class="form" id="form">
                        <div class="formName">
                            <input class="input" type="text" id="form-name" name="formName" required>
                            <label class="label" for="formName">Name</label>
                        </div>

                        <div class="formEmail">
                            <input class="input" type="text" id="form-email" name="formEmail" required>
                            <label class="label" for="formEmail">Email</label>
                        </div>

                        <div class="formPhone">
                            <input class="input" type="tel" id="form-phone" name="formPhone" required>
                            <label class="label" for="formPhone">Phone</label>
                        </div>

                        <div class="formPassword">
                            <input class="input" type="password" id="form-password" name="formPassword" required>
                            <label class="label" for="formPassword">Password</label>
                            <div class="password-checkbox-container">
                                <input type="checkbox" id="show-password" name="showPassword">
                            </div>
                        </div>

                        <input type="submit" value="SignUp">
                    </form>
                </div>
                <div class="signIn">
                    <p>Already an user? <a style="color: #00c2fd; cursor: pointer; font-weight: 500;"
                            href="login.html">SignIn</a></p>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>
        <script src="../scripts/signUp.js"></script>
    </body>
</body>

</html>